<script setup lang="ts">
import {ref} from 'vue';
import TodoItem from './icons/TodoItem.vue';
const groceryList = ref([
    {id: 0, text: "Vegetales"},
    {id: 1, text: "Cheese"},
    {id: 2, text: "Whatever eles human are supposed to eat"}
])
</script>

<template>
    <ol>
        <TodoItem v-for="(item) of groceryList" :key=item.id :todo="item"/>
    </ol>
</template>

<style></style>