<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import CalCom from './components/CalCom.vue';
import HelloWorldEx from './components/HelloWorldEx.vue';
import HeandingUserInput from './components/HeandingUserInput.vue';
import AttributeBindings from './components/AttributeBindings.vue';
import ConditionAndLoops from './components/ConditionAndLoops.vue';
import FormBindings from './components/FormBindings.vue';
import SimpleComponent from './components/SimpleComponent.vue';
</script>

<template>
  <div>
  <SimpleComponent/>
  <br/>
  <br/>
  <FormBindings/>
  <br/>
  <br/>
  <ConditionAndLoops/>
  <br/>
  <br/>
  <AttributeBindings/>
  <HeandingUserInput/>
  <CalCom/>
  <HelloWorldEx/>
</div>
</template>

<style scoped></style>
